#root {
  box-sizing: border-box;
  /* max-width: 1480px; */
  margin: 0 ;
  padding: 0;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.grid-item {
  grid-column: span 1;
}

